/* Reset */
@import "./styles/reset.css";

/* Import Source Code Pro from local storage */
@font-face {
  font-family: "Source Code Pro";
  src: url("./fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
}

/* Import Source Code Pro Italics from local storage */
@font-face {
  font-family: "Source Code Pro";
  src: url("./fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Default Light color scheme variables are here */
/* Padding Variable could be set to the body but we will be grainular and set it to each element */
:root {
  /* Box Model */
  --padding: 3.5rem;
  /* Typography */
  --text-color: #333;
  /* Background & Visuals */
  --bg-color: #e4dfdb;
  --icon-fill: 0;
}

/* Dark color scheme variables */
/* Our 'data-theme' element is stored as a html attribute and will be manipulated by Javascript */
[data-theme="dark"] {
  /* Typography */
  --text-color: #e4dfdb;
  /* Background & Visuals */
  --bg-color: #333;
  --icon-fill: 1;
}

body {
  /* Typography */
  font-family: "Source Code Pro", sans-serif;
  color: var(--text-color);
  /* Background & Visuals */
  background-color: var(--bg-color);
}

nav {
  /* Layout */
  display: none;
  justify-content: space-between;
  align-items: center;
  /* Box Model */
  padding: var(--padding);
}

#right_nav {
  /* Layout */
  display: flex;
  justify-items: end;
  align-items: center;
}

#right_nav > * {
  padding: 0 0.5rem;
}

/* Base Values for variable material icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' var(--icon-fill),
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.theme-icon {
  /* Transitions & Animations */
  transition: font-variation-settings 0.3s;
}

/* Theme Hover animation */
.theme-icon:hover {
  font-variation-settings:
  'FILL' var(--icon-fill),
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}

/* Content of our page excluding navigation and footer */
main {
  /* Layout */
  display: flex;
  flex-direction: column;
  /* Box Model */
  padding: var(--padding)
}

/* Title - Raul Catalan */
#left h1 {
  /* Typography */
  font-weight: 500;
  word-spacing: -0.25em;
}

/* Secondary header - Aspiring job titles */
#left h2 {
  /* Box Model */
  /* Typography */
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

#about {
  /* Box Model */
  padding: 2rem 0;
}

a {
  color: var(--text-color);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 90px;
  background-color: #555;
  color:#fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -45px;

  opacity: 0;
  transition: opacity 0.3s;
}

.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}

#right {
  /* Layout */
  display: flex;
  flex-direction: column;
  /* Box Model */
  padding: 3rem 0 0 0;
}

#right h2 {
  /* Typography */
  font-weight: 500;
  text-decoration-line: underline;
  
}

.project-card h3 {
  font-size: 1.10rem;
  font-weight: 500;
}

.projectName-github {
  display: flex;
  align-items: baseline;
}

.projectName-github > a {
  padding: 1rem 10px 1rem;
}
.tech {
  display: flex;
  flex-wrap: wrap;
}

.tech > * {
  /* Box Model */
  margin: 4px;
  padding: 0 6px;
  /* Typography */
  color: var(--bg-color);
  /* Background & Visuals */
  background-color: var(--text-color);
  border-radius: 15px;
}

footer {
  padding: var(--padding);
  padding-top: 0;
}

footer > p {
  padding: 1rem 0;
}
/* Use rem cause its more adaptable, by default most browsers set this to 16px*/
/* Medium 768px */
@media (min-width: 48rem) {
  :root {
    --padding: 5rem;
  }
}

/* Large 1024px */
@media (min-width: 64rem) {
  :root {
    --padding: 9rem;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  #left {
    flex: 1;
    padding: 0 2rem 0 0;
  }
  
  #right {
    flex: 1.25;
    padding: 0;
  }
}

/* X-Large 1280px */
@media (min-width: 80rem) {
}

/* 2X-Large 1536px */
@media (min-width: 96rem) {
}
